.appbar {
  background-color: white;

  width: 100%;

  position: sticky;
  top: 0;

  z-index: 99;
}

.appbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1280px;
  height: 60px;

  margin: 0 auto;
  padding: 0px 15px;
}

.appbar__title {
  display: flex;
  align-items: center;

  color: black;
  text-decoration: none;
}

.appbar__logo {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.appbar__text {
  font-weight: 800;
  font-size: 20px;
}

.appbar__menu {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .appbar__logo {
    width: 40px;
    height: 40px;
  }

  .appbar__inner {
    height: 70px;
    padding: 20px 15px;

    max-width: 800px;
  }

  .appbar__text {
    font-size: 24px;
  }

  .appbar__menu {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .appbar__inner {
    max-width: 1200px;
  }

  .appbar__menu {
    display: none;
  }
}
