.footer {
  background-color: #ececec;
}

.footer__inner {
  padding: 20px 15px;
}

.footer__title-group {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.footer__logo {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.footer__title {
  font-size: 20px;
}

.footer__info {
  font-size: 10px;
  margin-bottom: 10px;
}
