/* .main {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.main-common-title {
  font-size: 22px;
  font-weight: bold;
}

.main-common-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.main__middle-image {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

/* main -> entrance-section */
.entrance-section {
  background-image: url("../img/entrance-background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.entrance-section__inner {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  height: 495px;
}

.entrance-section__illustrat {
  position: absolute;
  width: 200px;
  height: auto;
  bottom: 40px;
  right: 20px;
}

.entrance-section__info {
  padding: 0 15px;
  padding-top: 80px;
}

.entrance-section__title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.entrance-section__arrow-icon {
  position: absolute;
  left: calc(50% - 15px);
  bottom: 10px;
  color: white;

  width: 30px;
  height: 30px;
}

/* main -> introduce-section */

.introduce-section {
  background-color: #f9fafb;
}

.introduce-section__inner {
  padding: 100px 15px;
  position: relative;
}

.introduce-section__title {
  margin-bottom: 10px;
}

/* main -> value-section */

.value-section__inner {
  padding: 100px 15px;
}

.value-section__title {
  margin-bottom: 50px;
}

.value-group__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.value-item__image {
  width: 200px;
  height: auto;
  border-radius: 100%;

  margin-bottom: 10px;
}

.value-item__title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.value-item__description {
  text-align: center;
}

/* main -> project-section */

.project-section__inner {
  padding: 100px 15px;
}

.project-item__title {
  margin-bottom: 5px;
}

.project-item__subtitle {
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;

  margin-bottom: 52px;
}

.project-item__subtitle--color-green {
  color: #40d257;
}

.project-item__image {
  width: 100%;
  object-fit: cover;

  margin-bottom: 30px;
}

.project-item__description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  margin-bottom: 100px;
}

.project-section__explain {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* main -> contact-section */

.contact-section__inner {
  padding: 100px 15px;
}

.contact-section__title {
  margin-bottom: 18px;
}

.contact-section__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact-section__label {
  margin-bottom: 5px;
  font-size: 14px;
}

.contact-section__input {
  height: 40px;
  border: 1px solid #858585;
  border-radius: 5px;
  padding-left: 10px;
}

.contact-section__input::placeholder {
  color: #b0b0b0;
}

.contact-section__textarea {
  border: 1px solid #858585;
  border-radius: 5px;
  padding: 12px 10px;
}

.contact-section__textarea::placeholder {
  color: #b0b0b0;
}

.contact-section__submit-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: grey;
  padding: 10px;
  font-size: 18px;
  color: white;
}
